<title>Records</title>
<style>
table, th, td {
  border: 1px solid black;
}
</style>
                <table style="width:100%">
                      <tr>
                        <th>Date</th>
                        <th>Start Time</th>
                        <th>End Time</th>
                        <th>Distance</th>
                        <th>Patient</th>
                        <th>Acommopanier 1</th>
                        <th>Acommopanier 2</th>
                        <th>DriverId</th>

                      </tr>
                      <% for(var i = 0; i < records.length ; i++){ %>
                      <tr>
                        <td><%=records[i].date%></td>
						<td><%=records[i].start_time%></td>
						<td><%=records[i].end_time%></td>
						<td><%=records[i].distance_travelled%></td>
						<td><%=records[i].patient_roll%></td>
						<td><%=records[i].acommopanier1_roll%></td>
						<td><%=records[i].acommopanier2_roll%></td>
						<td><%=records[i].driver_id%></td>
                      </tr>
                    <% }; %>
                  </table>